<body>
    <section id="about">
        <div [@fadeInOut] class="about">
            <h1>About me</h1>
        </div>
        <div [@fadeInOut] class="about-me">
            <img src="assets/img1.jpg" class="image">
            <div class="text">
                <p>My name is Chonlagun Bangkert, and i am a Rajabhat Phranakhon University where I successfully earned my degree in Computer Science.
                     I am an enthusiastic individual with a passion for coding and a keen interest in exploring new technologies.
                      and I am excited to embark on a journey of continuous learning and application of my skills in the dynamic and ever-evolving field of technology
                      I am eager to take on new challenges, contribute to innovative projects, and further develop my expertise in the world of computer science.
                    </p>
        </div>
    </div>
</section>

<section id="skills">
    <div [@fadeInOut] class="skills">
        <h1>My Skills</h1>
    </div>
    <div [@fadeInOut] class="skills-content">
        <div class="container">
            <div class="bar front expert" data-skill="HTML5"></div>
            <div class="bar front advanced" data-skill="Java"></div>
            <div class="bar front advanced" data-skill="Python"></div>
            <div class="bar back intermediate" data-skill="MySQL"></div>
            <div class="bar back intermediate" data-skill="Javascripts"></div>
            <div class="bar back intermediate" data-skill="Css"></div>
            <div class="bar back api" data-skill="Flask"></div>
            <div class="bar back api" data-skill="Node.js"></div>
            <div class="bar back basic" data-skill="C"></div>
            <div class="bar back basic" data-skill="C#"></div>
            <div class="bar angular" data-skill="Angular"></div>
            <div class="bar machine" data-skill="Pytorch"></div>
            <div class="bar machine" data-skill="Tensorflow"></div>
            <div class="bar machine" data-skill="OpenCV"></div>
            <div class="bar learning" data-skill="MongoDB"></div>
            <div class="bar learning" data-skill="Mongoose"></div>
          </div>
</div>
</section>

<section>
    <div appFadeInOnScroll class="center">
        <h1>Education</h1>
        <hr class="gradient">
        <h3 class="left">Rajabhat Phranakhon University <span class="right">2020-2024</span></h3>
        <p>Computer Science degree</p>
        <hr class="gradient">
        <h3 class="left">Siam Business Administration Technological College Saphanmai<span class="right">2017-2020</span></h3>
        <p>Information Technology degree</p>
        <hr class="gradient">
        <h3 class="left">Nawamintrachinuthit Satriwittaya 2 School<span class="right">2014-2017</span></h3>
        <p>Chinese Programs</p>
    </div>
</section>
</body>