<body>

<!-- MAIN (Center website) -->
<div [@fadeInOut] class="main">

<h1>My Project</h1>
<hr class="gradient">

<!-- Portfolio Gallery Grid -->
<div class="row">
  <div class="column">
    <div class="content">
      <img src="assets/pj1.png" alt="Mountains" style="width:100%">
      <h3>Angular Fast Food Website</h3>
      <p>E-Commerce website for the sale of fast food, with features such as user authentication, a shopping cart, and the ability to specify the user's location for delivery. The frontend will be developed using Angular 16, while the backend will be implemented with Node.js. Database management will be handled through MongoDB.</p>
    </div>
  </div>
  <div class="column">
    <div class="content">
      <img src="assets/pj2.png" alt="Lights" style="width:100%">
      <h3>Chat Bot Website</h3>
      <p>The project involves developing a chatbot that responds to user messages based on predefined responses through a website. If a user provides a message that is not within the saved dataset, the chatbot will reply with a random message. The programming will be done in Python, and a simple web structure using HTML and PHP will be created for the interaction.</p>
    </div>
  </div>
  <div class="column">
    <div class="content">
      <img src="assets/pj3.jpg" alt="Nature" style="width:100%">
      <h3>LINE Chat Bot</h3>
      <p>It is a Chat Room system with buttons for inquiring about various topics related to system usage, and users can contact service providers for assistance. The system incorporates a chatbot to assist users with different matters, written in Python and utilizing the Flask framework to run the server. Ngrok is used to make the server public, facilitating webhook communication with LINE's platform. The LINE API is employed to collaborate with LINE devices.</p>
    </div>
  </div>
  <div class="column">
    <div class="content">
      <img src="assets/pj4.jpg" alt="Mountains" style="width:100%">
      <h3>Emotion Detection Mobile App</h3>
      <p>It is an application that displays facial expressions using machine learning, leveraging the TensorFlow framework for the primary model and converting the model to TensorFlow Lite for mobile deployment. The application is written in Java.</p>
    </div>
  </div>
<!-- END GRID -->
</div>


<!-- END MAIN -->
</div>

</body>
