<body>
    <section id="about">
        <div [@fadeInOut] class="about-me">
            <img src="assets/img1.jpg" class="image">
            <div>
            
              <h1>Hello</h1>
                
            
              <p>I'm Chonlagun a Junior Developer with a passion for coding and exploring new, challenging technologies. Allow me to introduce myself for the opportunity to be a part of your team.
              </p>
            
              <div class="center">
                <a routerLink="/about">
                <button class="btn">
                  <svg width="180px" height="60px" viewBox="0 0 180 60" class="border">
                    <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
                    <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
                  </svg>
                  <span>About Me</span>
                </button>
              </a>
              </div>
              
            </div>
               

        </div>

    </section>
 
    <!-- <section id="contact">
        <div appFadeInOnScroll class="container">
            <h2>Contact Me</h2>
            <p>Feel free to contact me for any inquiries or collaboration opportunities.</p>
        </div>
    </section> -->
</body>